version: "3"

tasks:
  default:
    desc: Run tests and linting
    deps:
      - lint
      - test

  test:
    desc: Run tests
    cmds:
      - go test -race ./... -count=1

  cover:
    desc: Run tests with a coverage report
    cmds:
      - mkdir -p coverage/
      - go test -coverpkg=./... -coverprofile=coverage/cover.out ./...
      - go tool cover -html coverage/cover.out -o coverage/cover.html

  lint:
    desc: Run golangci-lint
    cmds:
      - golangci-lint run

  lint-fix:
    desc: Run golangci-lint with auto-fix
    cmds:
      - golangci-lint run --fix

  run:
    desc: Run the CLI
    cmds:
      - go run ./cmd/{{.Package}}
